main.container {
  min-height: 533px;
}

/* Filters container Style*/
.filters {
  margin-top: 30px;
  margin-bottom: 15px;
}

.filters #searchBox {
  text-align: right;
}

.filters #searchBox #searchBox-input {
  margin-bottom: 5px
}

/* Filter List Styling */
.filter-list {
  display: flex;
  flex-flow: row wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Filter items style*/
div.filter-item {
  display: flex;
  flex: 1 200px;
  align-items: center;
}

/* Table Styling */
.table-container {
  width: auto;
  overflow-x: auto;
}

table {
  border: 1px solid black;
  min-width: max-content;
}

/* Table header color*/
table > thead > tr {
  color: white;
  background-color: dodgerblue;
}

/* Table inner borders*/
table > thead > tr > th, table > tbody > tr > td {
  border: 1px solid silver;
}


.table-filter-icon {
  text-decoration: none;
  cursor: pointer;
}

.table-filter-input {
  height: 15px;
}

.table-filter-icon:hover {
  color: black;
}

/* Pagination Styling */
.pagination {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  overflow-wrap: break-word;
}

/* Pagination links */
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/* Pagination Arrows*/
.arrow-active {
  pointer-events: none;
  color: #dddddd !important;
}


/* Loader Style */
.loader {
  position: absolute;
  top: 17.5rem;
  left: 47.5%
}

/* Error container style*/
div#error-container {
  text-align: center;
  padding-top: 10rem
}
